extends layout

block content
  header.explore
    .search-container
      input.search-input(type='text' placeholder='Search OpenSea crew asset url' onfocus="this.value=''" autofocus)
      label.search-legend Only crew members url are available for now
  div.content.explore
    .loading
      .spinner
        .double-bounce1
        .double-bounce2
    .asset-info-container.hide
      .general-info
        .image-preview-container
          img(src='')
        h3 general info
        h4.title-tier-info.txt-blue
        span.tokenId
        br
        span.last-sold-price
        br
        span.same-title-avg-price
        br
        span.avgPropertiesPercentage
      h3 similar assets
      h5 Crews with same title
      ul.same-title-list
      h3 attributes
      ul.traits-list
block scripts
  script(src='/js/explore.js')
