@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

@font-face {
  font-family: "Averox";
  src: url("../fonts/averox/Averox.ttf");
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{height: 100%;font-family: 'Jura', sans-serif;font-size: 15px;font-weight: 400;word-break: keep-all;}
body{margin: 0px;color: #fff;background-color: #000;}

a {background-color: transparent;text-decoration: none;color: inherit;display: block;opacity: 1;transition: all 0.2s ease-in-out;}
a:active,
a:hover{outline: 0;text-decoration: none;color: inherit;}

/** helpers **/
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
/* helpers end  */

.txt-warning{color: rgb(205,114,34);}
.txt-blue{color: rgb(54,167,205);}

ul{list-style-type: none;padding: 0px;}

h3{font-family: 'Averox';font-size: 20px; margin: 20px 0px 20px;}

/** common **/
.content{
  position: relative;
  margin: 0 auto;
  padding: 0px;
}

.content.explore{
  margin-top: 80px;
  padding: 20px;
}
header.explore{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 20px;
  border-bottom: 1px solid rgb(54,167,205);
  background: rgba(54,167,205,0.5);
  z-index: 700;
}

.explore .search-input{
  width: 100%;
  padding: 5px 10px;
  font-family: 'Jura';
  font-size: 20px;
  border: 1px solid #ececec;
  border-radius: 4px;
  outline: 0;
}
.explore .search-legend{
  font-size: 12px;
}

.explore .loading{
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.explore .loading.hide{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.explore .asset-info-container{
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.explore .asset-info-container.hide{
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* animation */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
