@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

@font-face {
  font-family: "Averox";
  src: url("../fonts/averox/Averox.ttf");
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{height: 100%;font-family: 'Jura', sans-serif;font-size: 14px;font-weight: 400;word-break: keep-all;}
body{margin: 0px;color: #fff;background-color: #000;}

a {background-color: transparent;text-decoration: none;color: inherit;display: block;opacity: 1;transition: all 0.2s ease-in-out;}
a:active,
a:hover{outline: 0;text-decoration: none;color: inherit;}

/** helpers **/
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
/* helpers end  */

h3{font-family: 'Averox';font-size: 20px; margin: 0px 0px 20px;}

/** common **/
.content{
  position: relative;
  margin: 0 auto;
  padding: 0px;
}

.content.explore{
  margin-top: 70px;
  padding: 20px;
}
header.explore{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(54,167,205);
  background: rgba(54,167,205,0.5);
  z-index: 700;
}

.explore .search-input{
  width: 100%;
  padding: 5px 10px;
  font-family: 'Jura';
  font-size: 20px;
  border: 1px solid #ececec;
  border-radius: 4px;
  outline: 0;
}
.explore .search-legend{
  font-size: 12px;
}
